/* * {
    color: green;
 } */

.trans {
    width: 250px;
    height: 200px;
    margin-left: 30px;
}

/* translate */
#trans2-1:hover {
    transform: translateX(50px);
    /* transform: translateX(-50px); */
}

#trans2-2:hover {
    /* transform: translateY(50px); */
    transform: translateY(-50px);
}

#trans2-3:hover {
    /* translateY(50px)만 적용된다.
    transform: translateX(50px);
    transform: translateY(50px); */

    /* transform: translateX(50px) translateY(50px); */
    transform: translate(50px, 50px);
}

/* scale */
#trans2-4:hover {
    /* transform: scaleX(2); */
    /* transform: scaleX(-2); */
    transform: scaleX(0.5);
    /* transform: scaleX(-0.5); */
}

#trans2-5:hover {
    /* transform: scaleY(2); */
    /* transform: scaleY(-2); */
    /* transform: scaleY(.5); */
    transform: scaleY(-.5);
}

#trans2-6:hover {
    /* transform: scaleX(2) scaleY(2); */
    /* transform: scaleX(.5) scaleY(.5); */
    /* transform: scale(2, 2); */
    /* transform: scale(0.5, 0.5); */
    /* transform: scale(2); */
    transform: scale(0.5);
} 

/* rotate */
#trans2-7:hover {
    /* transform: rotate(45deg); */
    /* transform: rotate(1rad); */
    /* transform: rotate(-45deg); */
    transform: rotate(-1rad);
}

/* skew */
#trans2-8:hover {
    transform: skewX(20deg);
}

#trans2-9:hover {
    /* transform: skewY(20deg); */
    transform: skewY(-20deg);
}

#trans2-10:hover {
    /* transform: skewX(20deg) skewY(20deg); */
    transform: skew(20deg, 20deg);
}

/* 3차원 변형 */
#trans3-1:hover {
    transform: perspective(200px) translate3d(100px, 100px, 100px);
}

#trans3-2:hover {
    /* transform: perspective(200px) translateZ(100px); */
    transform: perspective(200px) translateZ(-100px);
}

#trans3-3:hover {
    /* transform: perspective(200px) rotateX(30deg); */
    transform: perspective(200px) rotateX(-30deg);
}

#trans3-4:hover {
    transform: perspective(200px) rotateY(30deg);
}

#trans3-5:hover {
    transform: rotateZ(30deg);
}

#trans3-6:hover {
    /* 해당 요소를 주어진 각도만큼 x, y, z축을 기준으로 회전시킨다. */
    transform: perspective(200px) rotate3d(1, 1, 1, 30deg);
}

/* 기타 변형 속성 */
 /* transform-origin */
 .to-wrap {
    display: inline-block;
}

.to-wrap, .flower {
    border: 1px solid;
    width: 300px;
    height: 200px;
}

#left-top:hover {
    transform-origin: left top;
    transform: rotate(30deg);
}

#right-top:hover {
    transform-origin: right top;
    transform: rotate(30deg);
}

#left-bottom:hover {
    transform-origin: left bottom;
    transform: rotate(30deg);
}

#right-bottom:hover {
    transform-origin: right bottom;
    transform: rotate(30deg);
}

/* backface-visibility */
#back1:hover {
    transform: rotateY(180deg);
    /* backface-visibility: visible; */
}

#back2:hover {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}