nav {
    border: 1px solid red;
    box-sizing: border-box;
    width: 1000px;
    height: 40px;
}

#navi {
    border: 1px solid red;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#navi>li{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

#navi a{
    text-decoration: none;
    color: orange;
    font-size: 1.5em;
    font-weight: 900;
    height: 100;
    display: block;
    line-height: 35px;
}

#navi a:hover{/* 글씨에 마우스 올리면 색 변함 */
    color: orangered;
}

#navi >li>ul{
    list-style-type: none;
    padding: 0;
    display: none;
}

#navi>li>a:hover+ul{/* 마우스 올리면 메뉴가 나오게 함 */
    display: block;
}

#navi>li>ul:hover{/* 마우스 올리면 메뉴나오는데 그걸 고정시킴 */
    display: block;
}

#navi>li>ul a {
    font-size: 1.2em;
}